<input class='c-checkbox' type='checkbox' id='checkbox' />
<div class='c-formContainer'>
  <form class='c-form' action='submit' id='form'>
    <input
      class='c-form__input'
      placeholder='Search...'
      type='text'
      autocomplete="false"
    />
    <label class='c-form__buttonLabel' for='checkbox'></label>
    <button class='c-form__button' type='submit'>Send</button>
    <label class='c-form__toggle' for='checkbox' data-title='Search images'></label>
  </form>
</div>